<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/styles/style.css" rel="stylesheet">
    <style> 
        
    .image {
        float: left;
        height: 175px;
        width: 130px;
        background-color: lightgrey;

        margin-right: 50px;
    }

    h1 {
      font-size: 5rem;
    }

    h2 {
      font-size: 2rem;
    }

    p {
      margin-bottom: 25px;
    }

    .book_detail {
      padding-left: 25px;
      margin-left: 25px;
    }
    </style>
</head>

<body>


    <div class = "container col-xxl-7 px-4">

    <div class = "row flex-lg-row align-items-center g-1 pb-2">
        <h1> Amit Bhogal </h1>
        <h2> Books I’ve read </h2>
        <p> Some notes for each book read. Use the ISBN number to find it from your local library or anywhere else. This page will constantly update as I read more, so bookmark it if you want to check back in a few months.</p>
        <p> Sorted with my top recommendations up top. Sort by <a href="./">title</a>, <a href="./">newest</a>, or <a href="./">best</a>. </p>
        <p> To add a new book note, click <a class="edit" href="/new">Add</a></p>
        <hr>
    </div>


    <% for (var i = 0; i < books.length; i++) {  %>

            <div class="align-items-center g-1 pt-2 pb-5 mb-5 mt-1">
 
                <img class = "image img-thumbnail" src= "<%=bookcovers[i]%>" alt= "book cover for book"> 

                <h3 class="book_detail display-5 fw-bold text-body-emphasis lh-1 mb-3"><%=books[i].title%></h1>
                <h5 class="book_detail">
                  <span>Date read: <%=books[i].date_read%> |  </span> 
                  <span>How strongly I recommend it: <%=books[i].rating%></span>
                </h5>

                <p class = "book_detail"><%=books[i].notes%></p>

                <a class="edit" href="/edit/<%= books[i].id %>">Edit</a>
                <a class="delete" href="/delete/<%= books[i].id %>">Delete</a>
            </div>


    <% } %>
    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>

</html>